<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MusicMigrate</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <header class="header">
    <div class="header-left-section">
     
      <h2>MusicMigrate</h2>
    </div>
    <div class="header-right-section">
      <p>Features</p>
      <p>How it Works</p>
      <p>FAQ</p>
      <button>Get Started</button>
    </div>
  </header>

  <main class="content">

    <div class="hero">
      <div class="hero-left-section">
        <h1>Transfer Your Music Playlists<br> Between Platforms</h1>
        <p>Easily move your playlists between Spotify, Apple Music,<br> YouTube Music, and more with just a few clicks.</p>
        <div class = "hero-buttons">
          <button class = "transfer-button">Start Transferring →</button>
          <button class = "learn-more">Learn More</button>
        </div>
      </div>
      <div class="hero-right-section">
        <img src="/images/hero.svg" alt="Hero Image">
      </div>
    </div>

   <div class = "platforms">
    <div class="platforms-title">
      <h2>Supported Platforms</h2>
      <p>Transfer your playlists between major music streaming services</p>
    </div>

    
   <div class="card-container">
  <% cards.forEach((card) => { %>
    <div class="card">
      <img class="<%= card.class %>" src="<%= card.logo %>" alt="<%= card.name %>">
      <p><%= card.name %></p>
    </div>
  <% }) %>
    </div>
   </div>

   <div class = "how-it-works">
    <div class = "how-it-works-title">
      <h2>How It Works</h2>
    <p>Transfer your playlists in three simple steps</p>
    </div>
    <div class = "how-it-works-body">
        <div>
        <img src = "/images/source.svg"/>
        <h3>Select Source</h3>
        <p>Choose the platform you want to transfer<br> playlists from</p>
    </div>
     <div>
        <img src = "/images/arrow.svg"/>
        <h3>Select Destination</h3>
        <p>Choose where you want your playlists to go</p>
    </div>
     <div>
        <img src = "/images/transfer.svg"/>
        <h3>Transfer</h3>
        <p>Click transfer and we'll handle the rest</p>
    </div>
    </div>
   </div>

  </main>
  <!-- <script src = "/main.js"></script> -->
</body>
</html>