
:root{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #030712;
  color: #333;
  width: 100%;
}

body{
  margin: 0;
  padding: 0
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  height: 80px;
  align-items: center;
  background-color: rgba(17, 24, 39, 0.95);
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid #1F2937;
}

.header-left-section{
  display: flex;
  height: 60px;
  margin-left: 10px;
  font-size: 1.25rem;
  padding: 0 20px;
}

.header-right-section{
  display: flex;
  margin-left: auto;
  color: white;
  gap: 10px;
  align-items: center;
  font-size: 0.875rem;
  padding: 0 20px;
}
.header-right-section > button{
  border: none;
  height: 30px;
  border-radius: 15px;
  background-color: #9333EA;
  color: white;
  width: 100px;
}

.header h2 {
  font-size: 1.5rem;
  color: white;
}

.platform-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  color:white;
  justify-content: center;
  margin-top: 100px;
}
.platform-title > h2{
  margin-bottom: 0;
  font-size: 3rem;
}

.platform-title > p{
  margin-top: 0;
  color: #9CA3AF;
  font-size: 1.25rem;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  width: 100%;
}

.content {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.hero{
  padding-top: 6rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 400px;
  background: linear-gradient(to bottom right, #111827, #030712);
}

.hero-left-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

.hero h1{
  font-size: 3.75rem;
  color:white;
  margin-bottom: 0;
}

.hero  p{
  color: white;
  font-size: 1.25rem;
  margin-top:0;
  max-width: 600px;
  color: #9CA3AF;
}

.hero  button{
  color: white;
  background-color: #9333EA;
  border-radius: 15px;
  width: 213px;
  height: 44px;
  font-size: 15px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 100px;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color:#D1D5DB;
  font-size: 0.875rem;
}

.card img {
  width: 100%;
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
  border-radius: 50%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

img.spotify {
  background-color: #1DB954;
  color: white;
}

img.apple-music {
  background: linear-gradient(to bottom right, #FB233B, #FB5183);
  color: white;
}

img.youtube-music {
  background-color: #FF0000;
  color: white;
}

img.amazon-music {
  background-color: #00A8E1;
  color: white;
}

img.deezer {
  background-color: #00C7F2;
  color: white;
}

.how-it-works{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #111827;
  padding: 100px 24px;
}

.how-it-works > h2{
  margin: 0;
  font-size: 3rem;
}

.how-it-works  h3{
  margin: 0
}

.how-it-works p{
  margin-top: 0;
  color: #9CA3AF;
}

.how-it-works > div{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 40px;
}

.how-it-works > div > div{
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 164px;
  justify-content: center;
  gap: 10px;
}

.how-it-works img{
  width: 64px;
  height: 64px;
  align-self: center;
  border-radius: 50%;
  background-color: #1F2937;
  padding: 0.6rem;
}