.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    
}

.title > h1{
    color: white;
    margin-bottom: 0;
}

.title > p{
    color: #9CA3AF;
    width:650px;
    text-align: center;
}

.content{
   align-items: center; 
}

.source-platforms{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.platform{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #1F2937;
    border-radius: 15px;
    gap: 10px;
    padding: 40px;
}

.platform:hover{
    border: 1px solid #374151;
    background-color: #111827;
    cursor: pointer;
}

.selected{
    border: 1px solid#1DB954;
    background-color: rgba(31, 41, 55, 0.5);
}

.selected:hover{
    border: 1px solid#1DB954;
}

.platform *{
    margin: 0;
    color: #9CA3AF;
}

.source-name{
    color: white;
    font-size: large;
    font-weight: 600;
}

.selected > .source-name::after{
    content: "✔";
    color: #22C55E;
}


.source-platforms img {
  width: 100%;
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
  border-radius: 50%;
}

button{
  color: white;
  background-color: #9333EA;
  border-radius: 15px;
  width: 213px;
  height: 44px;
  font-size: 15px;
  margin-top: 20px;
}

.content > p{
    margin-top: 30px;
    color: #9CA3AF;
    margin-bottom: 50px;;
}

a{
    color: #C084FC
}