.card{
    height: 110px;
    width: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
img{
    height: 31px;
    width: 101px;
}
button{
    border: none;
    background-color: #3D4158;
    width: 90%;
    height: 90%;
    border-radius: 15px;
}

button:hover{
    box-shadow: 0px 0px 40px black;
}

.header{
    display:flex;
    position: sticky;
    width: 100%;
    top:0;
    background-color: #242A48;
    margin:0;
    padding:0;
}

.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.header > img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    align-self: center;
    border-radius: 50%;
}

body{
    background-color: #181D38
}


.title{
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container{
    width: 634px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

body{
    margin:0;
}
