<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css"/>
    <link rel="stylesheet" href="../static/transfer.css"/>
    <title>MusicMigrate</title>
    
</head>
<body>
    <header class="header">
      <div class="header-left-section">
        <h2>MusicMigrate</h2>
      </div>
      <div class="header-right-section">
        <a href = "http://localhost:3000">Home</a>
      </div>
    </header>

    <main>
      <div class="title">
        <h1>Transfer Your Playlists</h1>
        <p>Select the playlists you want to transfer between music platforms</p>
      </div>

      <div class="container">
        <div class="select-platforms">
          <h3>Select Platforms</h3>
          <div class="select-source">
            <p>Source Platform</p>
            <select name="source">
              <option value="" hidden disabled selected>Select source platform</option>
              {% for card in cards %}
                <option value="{{ card.name }}">{{ card.name }}</option>
              {% endfor %}
            </select>
          </div>
          <button disabled class = "connect">Connect to Platform</button>
        </div>

        <div class="pre-connect">
          <h2>Connect to a Music Platform</h2>
          <p>Select a source platform and connect your account to view your playlists</p>
          <button disabled class = "connect">Connect to platform</button>
        </div>
    </main>
    <script type = "module" src="../static/transfer.js"></script>    
</body>
</html>
